<section>
  <h1 class="is-size-1 has-text-centered mt-4"><strong>Welcome to Advertisement service</strong></h1>
  {{#if advertisements}}
  <h2 class="is-size-2 has-text-centered mt-4">Check what we have</h2>
  {{else}}
  <h2 class="is-size-2 has-text-centered mt-4">There are no ads yet :(</h2>
  <h3 class="is-size-2 has-text-centered mt-4">But you can sign up and fill the gap :)</h3>
  {{/if}}
  {{#if advertisements}}
  <div class="columns is-multiline mt-6">
    {{#each advertisements}}
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/public/advertisements/{{images.[0]}}" alt="{{shortText}}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><a href="/{{_id}}">{{shortText}}</a></p>
              <p class="title is-4">{{description}}</p>
            </div>
          </div>
          <div class="content">
            <a href="/{{_id}}">Check it</a>
            <br>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</section>
